[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[tool.poetry]
name = "dephell_markers"
version = "0.1.1"
authors = ["orsinium"]
description = "Work with version specifiers."
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.5"
packaging = "*"
